/********************** main-wrapper *********************/
.main-wrapper {position: relative;}
.main-wrapper .content-wrapper {position: absolute; top: 50%; left: 30%; text-align: center;}
.main-wrapper .content-wrapper > .slogan {color: #fff; font-family: 'Jost', sans-serif; font-size: 3em; margin-bottom: 1em;}

.main-wrapper .slider-wrapper {position: absolute; bottom: 25%; left: 50%;}
.main-wrapper .slider-wrapper > .slider {color: #fff; margin-right: 1em;}

/********************** dream-wrapper *********************/



/********************** promo-wrapper *********************/



/********************** style-wrapper *********************/



/********************** room-wrapper *********************/



/********************** svc-wrapper *********************/



/********************** sns-wrapper *********************/



/********************** contact-wrapper *********************/





/********************** cookie-wrapper *********************/



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  
}